<header class="shadow bg-white sticky top-0 z-50">

<div class="max-w-7xl mx-auto">

<div class="flex justify-between items-center p-4">

<div class="flex items-center gap-3">

<img
src="assets/images/logo.png"
class="w-14">

<div>

<h2 class="font-bold text-xl">

Santosh Public School

</h2>

<p class="text-sm text-gray-500">

English Medium School

</p>

</div>

</div>

<nav class="space-x-6 font-semibold">

<a href="#" data-page="home">Home</a>

<a href="#" data-page="about">About</a>

<a href="#" data-page="admission">Admission</a>

<a href="#" data-page="blog">Blog</a>

<a href="#" data-page="contact">Contact</a>

</nav>

</div>

</div>

</header>